html {
    height: 100%;
}

h4, ul, h3 {
    margin: 0px;
    padding: 0px;
}

.home-panel {
    background-color: #eee;
}

.class-introduce {
    margin-bottom: 10px;
}

body {
    background-color: #e3e3e3;
}

.thumbnail {
    text-align: center;
}

.jumbotron {
    padding-top: 100px;
}

.class-type li {
    padding: 3px;
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

.lunbo-img {
    width: 100%;
}

.hook {
    clear: both;
}

.class-type .active {
    background-color: #f0ad4e;
    color: #fff;
}

.page-header h3 {
    margin-top: 3px;
    float: left;
    width: 70px;
    font-size: 18px;
}
.page-tab {
    text-align: center;
}

.side-classes ul {
    list-style-type: none;
}

.side-classes ul li {
    padding: 10px 10px 0px 10px;
}

.side-classes ul .active {
    font-weight: bold;
    color: #c73b4d;
}

.side-classes ul li:hover {
    cursor: hand;
    color: #c73b4d;
}

.right-content ul {
    list-style-type: none;
}

.right-content .panel-heading {
    border: none;
    padding: 0px;
}

.right-content ul li {
    float: left;
    padding: 10px 20px;
}

.tab-title li:hover {
    background-color: #fff;
    color: #c73b4d;
    font-weight: bold;
}

.right-content ul .active {
    background-color: #fff;
    font-weight: bold;
}

.video video, .ppt img, .eresource div {
    width: 100%;
}

.video, .ppt, .eresource {
    padding: 20px;
}

.ppt, .eresource {
    display: none;
}

.comment-btn {
    margin-top: 10px;
    margin-right: 2px;
}

.comment-area ul li p {
    padding: 0px;
    margin: 0px;
}

.comment-area ul li {
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
}

.comment-area ul li .time {
    color: #999999;
}

.comment-area ul li img {
    width: 50px;
    height: 50px;
    float: left;
}

.comment-area ul li div {
    float: left;
    margin-left: 10px;
}

.comment-form {
    padding-left: 20px;
    padding-right: 20px;
}

a {
	text-decoration:none;
 	color:#000000;
}
a:link { 
	text-decoration: none; 
} 
a:visited { 
	text-decoration: none; 
} 
a:hover { 
text-decoration: none; 
} 

